
<div class="container">
  <h2 style="text-align: center;">Lista de Tareas</h2>
  <div class="row">
    <div class="card mb-2 col-md-4" *ngFor="let tarea of tareas" [ngStyle]="{'margin-left':'20px'}">
      <div class="card-body">
        <h5 class="card-title">{{ tarea.titulo }}</h5>
        <p class="card-text">{{ tarea.descripcion }}</p>
        <hr>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary mr-2" [routerLink]="['/editar', tarea.id]">Editar</button>
          <button type="button" class="btn btn-danger" [ngStyle]="{'margin-left':'5px'}" (click)="eliminarTarea(tarea.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
